name: Auto Approve

on:
  pull_request_target:
    types:
    - opened
    branches:
    - main

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    name: approve
    steps:
    - uses: hmarr/auto-approve-action@v4
      if: github.actor == 'LanikSJ'
    - uses: hmarr/auto-approve-action@v4
      if: github.actor == 'dependabot[bot]'
    - uses: hmarr/auto-approve-action@v4
      if: github.actor == 'github-actions'
