name: Combined Filters

permissions:
  contents: write
  pull-requests: write

on:
  # schedule:
  #   - cron: '0 3 * * 1'
  workflow_dispatch:

jobs:
  Updates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: shogo82148/actions-setup-perl@f9f0bf89e0d19ddbabb2f40d43db2e944bce7d2f # v1.36.0
        with:
          perl-version: '5.38'
          install-modules: |
            Path::Tiny

      - name: Update Combined Filters
        run: |
          scripts/combined-filters.sh

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@d4f3be6ce6f4083b7ac7490ab98b48a62db1ee41 # v7.0.10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update Combined Filters List
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: combined-filters-update
          delete-branch: true
          title: '[GitHub Actions] Update Combined Filters List'
          body: |
            Update Combined Filters List:
            - Updated with *today's* date
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels:
            automated pr
          assignees: LanikSJ
          reviewers: LanikSJ
          draft: false

      - name: Enable PR Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash

      # - name: Approve Pull Request
      #   uses: juliangruber/approve-pull-request-action@b71c44ff142895ba07fad34389f1938a4e8ee7b0 # v2.0.6
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     number: ${{ steps.cpr.outputs.pull-request-number }}
